# Dependabot will run on day 18 of each month at 03:22 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "22 3 18 * *"
    open-pull-requests-limit: 15
    assignees:
      - "arteck"
    versioning-strategy: "increase"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "22 3 18 * *"
    open-pull-requests-limit: 15
    assignees:
      - "arteck"
